<div class="sidebar-wrapper">
  <header class="header" role="banner">
    <h1 class="logo">
      <a href="/"><span class="local">Local</span>
        <span class="library">Library</span></a>
    </h1>
    <div class="nav-wrap">
      <nav class="main-nav" role="navigation">
        <ul class="unstyled list-hover-slide">
          <li><a href="/">Home</a></li>
          <li><a href="/catalog/books">Books we provide</a></li>
          <li><a href="/catalog/authors">All authors</a></li>
          <li><a href="/catalog/genres">All genres</a></li>
          <li><a href="/catalog/bookinstances">All Books</a></li>
        </ul>
        <hr style="border: 5px solid #ed7814" />
        <ul class="unstyled list-hover-slide">
          <% if (user) { %>
          <li><a href="/catalog/author/create">Create new author</a></li>
          <li><a href="/catalog/genre/create">Create new genre</a></li>
          <li><a href="/catalog/book/create">Create new book</a></li>
          <li>
            <a href="/catalog/bookinstance/create">Create new book copy</a>
          </li>
          <li><a href="/logout">Logout</a></li>
          <% } else { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Signup</a></li>
          <% } %>
        </ul>
      </nav>
    </div>
  </header>
</div>